<div class="container">
  <div class="row">
    <div class="col-md-4"><img class="img-fluid  center-block image1" src="../../../assets/img/17-IMAGE.jpg" alt=" ">
    </div>
    <div class="col-md-4">

      <form class="m-4">
        <div class="form-group ">


            <div class="text-center">
                <p class="ng-menu-text1">Reservation</p>
                <p class="ng-res-text1">BOOK YOUR TABLE</p>
                <img src="../../../assets/img/brown-dash.png" alt="">
            </div>
          <div class="input-group " style="
          padding-top: 30px;
      ">
            <div class="input-group-addon ">
              <i ><img class= "form-icon" src="../../../assets/img/11-NAME_ICON.png"></i>
            </div>
            <input class="form-control boder-input" id="email" name="email" type="text" placeholder="YOUR NAME" />
          </div>
        </div>
        <div class="form-group ">
          <div class="input-group ">
            <div class="input-group-addon ">
                <i ><img class= "form-icon" src="../../../assets/img/12-MAIL_ICON.png"></i>
            </div>
            <input class="form-control boder-input" id="email" name="email" type="text" placeholder="YOUR EMAIL" />
          </div>
        </div>
        <div class="form-group ">
            <div class="input-group ">
              <div class="input-group-addon ">
                  <i ><img class= "form-icon" src="../../../assets/img/13-CALENDAR_ICON.png"></i>
              </div>
              <input class="form-control boder-input" id="email" name="email" type="text" placeholder="mm/dd/yyyy" />
            </div>
          </div>
          <div class="form-group ">
              <div class="input-group ">
                <div class="input-group-addon ">
                    <i ><img class= "form-icon" src="../../../assets/img/14-TIME_ICON.png"></i>
                </div>
                <input class="form-control boder-input" id="email" name="email" type="text" placeholder="--:----" />
              </div>
            </div>

            <div class="form-group ">
                <div class="input-group ">
                  <div class="input-group-addon ">
                      <i ><img class= "form-icon" src="../../../assets/img/15-CLIENT_ICON.png"></i>
                  </div>
                  <input class="form-control boder-input" id="email" name="email" type="text" placeholder="NO. OF PEOPLE" />
                </div>

                
              </div>
              <div class="form-group">
                  <div class="input-group ">
                    
                      <button type="button" style="padding-right: 60px;
                      padding-left: 60px;" class="btn  btn-primary-outline btn-lg text-center">FIND A TABLE</button>
                  </div>
  
                  
                </div>



      </form>


    </div>
    <div class="col-md-4"><img class="img-fluid  center-block image1" src="../../../assets/img/18-IMAGE.jpg" alt=" ">
    </div>
  </div>

</div>