<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">

            <div class="parent img-responsive center-block">
                <img class="img-fluid  center-block image1" src="../../../assets/img/2-HOME_IMAGE.jpg" alt=" ">

                <img class=" img-fluid center-block image2" src="../../../assets/img/2-0-HOME_IMAGE.png" alt=" ">

                <img class="img-fluid img-responsive center-block image3" src="../../../assets/img/3-0-HOME_IMAGE.png"
                    alt="">

                <img class="img-fluid  center-block image4" src="../../../assets/img/brown-dash.png" alt="">
                <p class="story-title ">Our story</p>
                <p class="story-subtitle ">LOVE FOR FOOD</p>
                <p class="story-text ">Ninestars provides us with a very professional, <br />well managed Press & Broadcast
                    monitoring <br />service, which has enabled us to continue to<br /> expand and offer a larger range of service
                    to our <br /> customers. They are always friendly, <br />helpful, and available to assist at any time.<br /></p>




            </div>
        </div>
    </div>
</div>