
<div class="wrapper">
        <div class="page-header " style="background-image: url('assets/img/6-HOME_IMAGE.png')">
            <div class="filter"></div>
            <div class="content-center">
                <div class="container ">
    
    
                    <div class="text-center">
                        <p class="ng-visit-text1">Visit Us</p>
                        <p class="nineStars ">ENJOYABLE & COMFORTABLE</p>
                        <img src="assets/img/8-DIVIDER.png" alt="">
                    </div>
                    
                   
    
    
                </div>
    
    
            </div>
    
        </div></div>