<div class="wrapper">
    <div class="page-header " style="background-image: url('assets/img/4-HOME_IMAGE.png')">
        <div class="content-center">
            <div class="container ">
                <div class="text-center">
                    <p class="ng-cuisine-text ">Exquisite Cuisine</p>
                    <p class="nineStars ">A FEAST FOR YOUR SENSES</p>
                    <img src="assets/img/4-0-HOME_DIVIDER.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>