<div class="wrapper">
    <div class="page-header " style="background-image: url('assets/img/5-HOME_IMAGE.png')">

        <div class="container" style="
            padding-bottom: 400px;
            padding-right: 200px;
        ">

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8 " style="padding-top: 150px;">
                    <span class= ng-menu-text1>From the Menu</span>>
                    <div class="row">
                        <span class= "ng-menu-text2" >EASTER BRUNCH!!</span>
                    </div>
                 

                                <table class="table borderless">
                                      
                                        <tbody>
                                          <tr>
                                            <td class= "ng-menu-text3" >- ZUCCHINI & CORN CAKE SERVED<p class="ng-menu-p ">With Smoked Apple Yellow Chili Dip</p></td>
                                            <td class="ng-menu-n">800/-</td>
                                          </tr>
                                          <tr>
                                                <td class= "ng-menu-text3">- ZUCCHINI & CORN CAKE SERVED<p class="ng-menu-p">With Smoked Apple Yellow Chili Dip</p></td>
                                                <td class="ng-menu-n">800/-</td>
                                           
                                          </tr>
                                          <tr>
                                                <td class= "ng-menu-text3">- ZUCCHINI & CORN CAKE SERVED <p class="ng-menu-p">With Smoked Apple Yellow Chili Dip</p></td>
                                                <td class="ng-menu-n">800/-</td>
                                            
                                          </tr>
                                        </tbody>
                                      </table>
                        
                </div>
            </div>

        </div>
    </div>
</div>