<div class="wrapper">
    <div class="page-header " style="background-image: url('assets/img/1-HOME_IMAGE.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container ">


                <div class="text-center">
                    <p class="nineStars ">THERE IS NO SINCERER LOVE THAN THE LOVE OF FOOD</p>
                    <img src="assets/img/1-0-DIVIDER_ICON.png" alt="">
                </div>
                <p class="home-open center">OPENING HOURS</p>

                <p class=" text-center">Monday -Friday: 8:30 AM TO 10:30 PM</p>
                <h6 class=" text-center">Weekends: 8:30 AM TO 10:30 PM</h6>
            </div>
        </div>

    </div>
    <div class="main">
        <app-components></app-components>
        
    </div>
</div>