
.hr {
    border: 0;
    clear:both;
    display:block;
    width: 150%;               
    background-color:#FFF;
    height: 1px;
    margin-bottom: 10px;
  }
  .responsive-image {
    max-width: 20%;
    height: auto;
    margin-top: 40px;
}

