<footer class="footer">


        <div class="container-fluid" style="background-image: url('.../../../../../assets/img/16-FOOTER_IMAGE.jpg');">
    
            <!-- <div class="row">
                    <div class="col-md-4 text-center" ></div>
                    <div class="col-md-4 text-center m-4 "><img class="responsive-image"  src="../../../assets/img/loremipsum-logo.png"></div>
                    <div class="col-md-4 text-center" ></div>
                  </div> -->
            <div class="container-fluid ">
                <div class="text-center">
                    <img class="responsive-image m-40" src="../../../assets/img/loremipsum-logo.png">
    
                    <p class="home-address">10, Fifth A Block, 17th B Main, koramangala 5th Block, Bangalore</p>
                    <p class='m-10 home-reservation'>FOR RESERVATION -88488 00000</p>
                    <p class="home-reservation m-10">OPENING HOURS</p>
                    <p class="home-time">Monday - Friday 8:30 AM to 10:30 PM</p>
                    <p class="home-time">Weekends:8:30 AM to 10:30 PM</p>


                </div>
    
            </div>
            <div class="row col-md-12">
                <nav class="footer-nav col-md-7">
                    <ul>
                        <li ><a class="ng-footer"  href="#">ACTIVE</a></li>
                        <li><a class="ng-footer"a href="#">LONGER NAV LINK</a></li>
                        <li><a class="ng-footer" href="#">LINK</a></li>
                        <li><a class="ng-footer2" href="#" disabled="true">DISABLED</a></li>
                    </ul>
    
                </nav>
                <nav class="footer-nav col-md-5">
                    <ul>
                        <li><a class="ng-footer" href="#">ACTIVE</a></li>
                        <li><a class="ng-footer" href="#">LONGER NAV LINK</a></li>
                        <li><a class="ng-footer" href="#">LINK</a></li>
                        <li><a class="ng-footer2" href="#" disabled="true">DISABLED</a></li>
                    </ul>
    
                </nav>
    
    
                <div class="hr"></div>
            </div>
    
            <div class="row home-copyrights">
                <div class="col-md-4 text-center"></div>
                <div class="col-md-4 text-center"> Copyright {{test | date: 'yyyy'}}. All Rights Reserved</div>
                <div class="col-md-4 text-center"></div>
            </div>
            <div class="row home-copyrights">
                    <div class="col-md-4 text-center"></div>
                    <div class="col-md-4 text-center"> </div>
                    <div class="col-md-4 text-center"></div>
                </div>
          
    
        </div>
    </footer>